---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<div class="banner-home">
    <ul>
        <li style="background-image: url(assets/img/cover/vedder-solo.jpg);">
            <h1>Vedder Tour 2014</h1>
            <p>Saiba tudo sobre a primeira turnê do Eddie no Brasil</p>
            <a href="#" class="btn">Veja especial</a>
        </li>
        <!--<li style="background-image: url(http://unslider.com/img/wood.jpg);">This is another slide.</li>
        <li style="background-image: url(http://unslider.com/img/subway.jpg);">This is a final slide.</li>-->
    </ul>
</div>

{{> home-artworks }}

<ul class="people-list"> 
    {{#withFirst artworks2013 2}}
        <li>Name: {{name}}</li>
    {{/withFirst}}
</ul>