---
title: Eddie Vedder no Brasil
description: Confira todas as informações dos shows
layout: src/templates/layouts/internal.hbs
bg-header: "../assets/img/cover/vedder-solo.jpg"
---

<div class="announce">
    <div class="col4">
        <i class="fa fa-microphone icon-announce"></i>
        <h4>Shows</h4>

        <span class="title-event">São Paulo</span>
        <p><strong>Local:</strong> <a href="#">Citibank Hall</a></p>
        <p><strong>Dias:</strong> 07 e 08 de maio de 2014</p>
        <p><strong>Início:</strong> 21:30hrs</p>

        <span class="title-event">Rio de Janeiro</span>
        <p><strong>Local:</strong> <a href="#">Citibank Hall</a></p>
        <p><strong>Dia:</strong> 11 de maio de 2014</p>
        <p><strong>Início:</strong> 21:30hrs</p>
    </div>
    <div class="col4">
        <i class="fa fa-ticket icon-announce"></i>
        <h4>Pré-Venda</h4>

        <span class="title-event">Membros do 10c <span class="success">50% OFF</span></span>
        <p><strong>Vendas:</strong> 12/03, das 10h às 23:59</p>

        <span class="title-event">Clientes Citibank</span>
        <p><strong>Vendas:</strong> de 13/03 às 10h até 15/03 às 23:59</p>

        <span class="title-event">Público Geral</span>
        <p><strong>Vendas:</strong> a partir de 17/03 às 10h</p>
    </div>
    <div class="col4">
        <i class="fa fa-laptop icon-announce"></i>
        <h4>Onde Comprar?</h4>
        <p>Toda a compra de ingressos será feita através do site da <a href="http://premier.ticketsforfun.com.br/">Tickets For Fun</a>. É necessário fazer um cadastro antes. Então a dica é se cadastrar no site mesmo que as vendas não tenham iniciado.</p>
        <a href="http://premier.ticketsforfun.com.br/" target="_blank" class="btn btn-go">www.ticketsforfun.com.br</a>
    </div>
</div>

<div class="info-shows">
    <div class="col6">
        <h1>São Paulo</h1>
    </div>
    <div class="col6">
        <h1>Rio de Janeiro</h1>
    </div>
</div>
