---
component: home_artworks-2013
---

<section class="section section-type-artworks">
    <div class="container">
        <h1 class="section-title"><span>Artworks 2013</span></h1>
        <ul class="artworks-list">
            <li class="artworks-item">
                <img src="assets/img/thumbs/artworks/2013/audio/worcester1.jpg" alt="">
            </li>
            <li class="artworks-item">
                <img src="assets/img/thumbs/artworks/2013/audio/worcester1.jpg" alt="">
            </li>
            <li class="artworks-item">
                <img src="assets/img/thumbs/artworks/2013/audio/worcester1.jpg" alt="">
            </li>
            <li class="artworks-item">
                <img src="assets/img/thumbs/artworks/2013/audio/worcester1.jpg" alt="">
            </li>
        </ul>
        <div class="center-content">
            <a href="#" class="btn btn-more">Veja todas</a>
        </div>
    </div>
</section>