---
component: navbar
---

<header class="header">
    <div class="container">
        <div class="header-menu">
        	<div class="menu-btn"><span class="menu-btn-icon">&#9776;</span>Menu</div>
        </div>
        <div class="header-logo">
        	<a href="/" class="logo-item"></a>
        </div>
        <div class="header-social">
            <a href="#" class="header-social-link fa fa-facebook-square"></a>
            <a href="#" class="header-social-link fa fa-twitter-square"></a>
        </div>
    </div>
</header>