---
component: navbar
---

<header class="header">
	
    <div class="container">
        <div class="header-menu">
        	<div class="menu-btn"><span class="menu-btn-icon">&#9776;</span>Menu</div>
        </div>
        <div class="header-logo">
        	<a href="#" class="logo-item"></a>
        </div>
        <div class="header-social"><span style="color: #fff">Lorem Ipsum</span></div>
    </div>

</header>