---
component: navbar
---

<!-- Pushy Menu -->
<nav class="pushy pushy-left">
    <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
        <li><a href="#">Item 6</a></li>
    </ul>
</nav>

<header class="header">
    
    <div class="container">
        <div class="header-menu">
        	<a href="#" class="menu-link">asas</a>
        </div>
        <div class="header-logo">
        	<a href="#" class="logo-item"></a>
        </div>
        <div class="header-social">social</div>
    </div>

</header>