---
component: pushy-menu
---

<!-- Pushy Menu -->
<nav class="pushy pushy-left">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Artworks</a></li>
        <li><a href="#">Specials</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Posters</a></li>
        <li><a href="#">Tour</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>