body
  background: #ccc
  font-size: 62.5%

// General
.container
  container()

// Header
.header
  background: #222
  height: 4em

.header-menu, .header-social
  column(2)

.header-logo
  column(8)
  text-align: center

.logo-item
  display: block
  max-width: 5em
  height: 4em
  margin: .4em auto
  background: url('../img/wya-logo.svg') left top no-repeat
  background-size: 100% auto