// Base
body
  background: #ccc
  font-size: 62.5%

::selection
  color: color-comp
  background: #333

::-moz-selection
  color: #fff
  background: color-comp

// General
.container
  container()

// Fonts
p
  font-size: 1.3em
  line-height: 1.6em
  font-family: font-base

h1, h2, h3, h4, h5, h6
  line-height: 1.6em
  font-family: font-title

// Header
.header
  background: color-primary
  height: 4em

.header-menu, .header-social
  column(2)

.header-logo
  column(8)
  text-align: center

.menu-btn
  border: 1px solid darken(color-secondary, 40%)
  padding: .4em
  color: white
  display: inline-block
  font-size: 1.2em
  text-transform: uppercase
  color: darken(color-secondary, 40%)
  margin: .5em 0
  cursor: pointer
  .menu-btn-icon
    display: inline-block
    margin-right: .4em
  &:hover
    border-color: #fff
    color: #fff

.pushy
  > ul
    padding: 0
    margin: 0
    a
      font-size: 1.3em

.logo-item
  display: block
  max-width: 4.8em
  height: 4em
  margin: .4em auto
  background: url('../img/wya-logo.svg') left top no-repeat
  background-size: 100% auto

// Buttons
.btn
  display: inline-block
  border: 2px solid darken(color-meta, 5%)
  color: darken(color-meta, 5%)
  font-family: font-title
  font-size: 1.8em
  padding: .6em 1em
  font-weight: 300
  text-transform: uppercase
  text-decoration: none
  margin: 1.8em 0 0 0
  letter-spacing: 0.04em
  transition: all .2s ease
  &:hover
    border-color: #fff
    color: #fff

// Banner Home
.banner-home
  position: relative
  overflow: auto
  h1
    color: #fff
    font-size: 7em
    font-weight: 900
    margin: 1.5em 0 0 0
    letter-spacing: -0.02em
    line-height: 1.3em
    text-shadow: 0 3px 0 #000
  p
    color: #ddd
    font-size: 1.6em
    margin: 0
    letter-spacing: 0.02em
  li
    list-style: none
  ul
    margin: 0
    padding: 0
    li
      float: left
      min-height: 400px
      background-size: cover
      background-repeat: no-repeat
      text-align: center
      @media phone
        height: 250px
        min-height: 250px
      @media tablet
        height: 350px
        min-height: 350px
  .dots
    position: absolute
    left: 0
    right: 0
    bottom: 30px
    margin: 0
    padding: 0
    text-align: center
    li
      display: inline-block
      width: 10px
      height: 10px
      margin: 0 4px
      text-indent: -999em
      border: 2px solid #fff
      border-radius: 6px
      cursor: pointer
      opacity: .4
      transition: background .5s, opacity .5s
      &.active
        background: #fff
        opacity: 1
