// Colors
color-primary   = #222
color-secondary = #aaa
color-border    = #eee
color-meta      = #ddd
color-comp      = #00b4ff
color-font      = #777
color-facebook  = #3c599f
color-twitter   = #5eaade
color-success   = #27ae60

// Fonts
font-base  = 'Arial', helvetica, sans-serif
font-title = 'Roboto', Arial, helvetica, sans-serif