// Colors
color-primary   = #222
color-secondary = #aaa
color-border    = #eee
color-meta      = #ddd
color-comp      = #00b4ff

// Fonts
font-base  = 'Arial', helvetica, sans-serif
font-title = 'Roboto', Arial, helvetica, sans-serif