<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{title}} | {{site.title}}</title>

        <!-- CSS -->
        <link href="{{assets}}/css/main.css" rel="stylesheet">

        <!-- Modernizr -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    </head>
    <body>
        
        {{> navbar }}
    
        <div class="container" role="main">

            <div class="merda">merda</div>
            <div class="porra">porra</div>

            {{> body }}

        </div>

        <!-- JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </body>
</html>